/Linq2XmlSvgLab/bin/*
/Linq2XmlSvgLab/obj/*
/Linq2XmlSvgLab/packages/*
/Linq2XmlSvgLab/.vs/*
/SpirographLab/.vs/*
/SpirographLab/SpirographLib/bin/*
/SpirographLab/SpirographLib/obj/*
/SpirographLab/SpirographViewer/bin/*
/SpirographLab/SpirographViewer/obj/*
/SpirographLab/Testing/bin/*
/SpirographLab/Testing/obj/*
/SpirographLab/ViewModelTests/bin/*
/SpirographLab/ViewModelTests/obj/*
/HexColors/.vs/*
/HexColors/HexColors.Lib.Tests/bin/*
/HexColors/HexColors.Lib.Tests/obj/*
/HexColors/HexColors.Lib/bin/*
/HexColors/HexColors.Lib/obj/*
/HexColors/packages/*
/UwpShapeDataBinding/ShapeDataBinding/.vs/*
/UwpShapeDataBinding/ShapeDataBinding/bin/*
/UwpShapeDataBinding/ShapeDataBinding/obj/*
/Mandelbrot/.vs/*
/Mandelbrot/MandelbrotCommon/bin/*
/Mandelbrot/MandelbrotCommon/obj/*
/Mandelbrot/SimpleMandelbrot/bin/*
/Mandelbrot/SimpleMandelbrot/obj/*
/Mandelbrot/ShowFixedMandelbrot/bin/*
/Mandelbrot/ShowFixedMandelbrot/obj/*
/Mandelbrot/FavoriteMandelbrots/bin/*
/Mandelbrot/FavoriteMandelbrots/obj/*
/AttaxxPlus/AttaxxPlus/obj/*
/AttaxxPlus/AttaxxPlus/bin/*
/AttaxxPlus/.vs/*
/svg2pptx/svg2pptx/bin/*
/svg2pptx/svg2pptx/obj/*
/svg2pptx/.vs/*
/svg2pptx/Tests/bin/*
/svg2pptx/Tests/obj/*
/KonzolosHelloWorld/.vs/*
/KonzolosHelloWorld/KonzolosHelloWorld/bin/*
/KonzolosHelloWorld/KonzolosHelloWorld/obj/*
/KonzolosHelloWorld/Tests/bin/*
/KonzolosHelloWorld/Tests/obj/*
/ThreadingLab/.vs/*
/ThreadingLab/ThreadingLab/bin/*
/ThreadingLab/ThreadingLab/obj/*
/Serialization/Serialization/bin/*
/Serialization/Serialization/obj/*
/Serialization/.vs/*
/UwpBindingAndCommandDemo/.vs/*
/UwpBindingAndCommandDemo/UwpBindingAndCommandDemo/bin/*
/UwpBindingAndCommandDemo/UwpBindingAndCommandDemo/obj/*
/ItemsControlMvvmDemo/.vs/*
/ItemsControlMvvmDemo/ItemsControlMvvmDemo/bin/*
/ItemsControlMvvmDemo/ItemsControlMvvmDemo/obj/*
/DrawingAndShapesDemo/DrawingAndShapesDemo/bin/*
/DrawingAndShapesDemo/DrawingAndShapesDemo/obj/*
/DataBindingLab/.vs/*
/DataBindingLab/DataBindingLab/bin/*
/DataBindingLab/DataBindingLab/obj/*
/.vs
